@import "tailwindcss";

:root {
  --background: #1a0b05;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: radial-gradient(circle at top right, #4a2113, #1a0b05);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
